<div class="header">
  <div class="text-center"> <p>Header</p></div>
 </div>
<div class="whiteWrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contentHeading">
          <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
          <span>Jump to where you left off :</span>
          <span><a href="#">Heading goes here</a> </span>

        </div>
      </div>
    </div>
    <div class="row cakecourse" >
      <div class="col-sm-12">
        <h1>The Interview Cake Course</h1>
        <div class="cakecourseDash"></div>
      </div>
    </div>

    <div class="row locumText">
      <div class="col-sm-12">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p class="checkboxWrapper"><a href="#">Give me exercises and content in: </a> <input type="checkbox"> </p>
      </div>
    </div>
  </div>
</div>
<div class="greyWrapper">
  <div class="container">
    <div class="row topic">
      <div class="col-sm-12">
        <div class="section">SECTION: 1</div>
      </div>
      <div class="col-sm-6">
        <div class="generalTopic"><h2>General Topic</h2></div>
      </div>
      <div class="col-sm-6 text-right">
          <span class="showlessBtn"><i class="fa fa-long-arrow-up" aria-hidden="true"></i>Show Less</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 dash"></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
         <p class="readings">Readings:</p>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="cardCheckIcon active"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span></div>
              <div class="cardheading">
                <div class="leftTitle">
                  Heading
                </div>
                <div class="rightIcon">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                </div>
              </div>
              <div class="cardBody">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="cardCheckIcon active"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span></div>
              <div class="cardheading">
                <div class="leftTitle">
                  Heading
                </div>
                <div class="rightIcon">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                </div>
              </div>
              <div class="cardBody">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
         <p class="readings">QUESTIONS:</p>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="cardCheckIcon active"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span></div>
              <div class="cardheading">
                <div class="leftTitle">
                  Heading
                </div>
                <div class="rightIcon">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                </div>
              </div>
              <div class="cardBody">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="cardCheckIcon "><span><i class="fa fa-check-circle" aria-hidden="true"></i></span></div>
              <div class="cardheading">
                <div class="leftTitle">
                  Heading
                </div>
                <div class="rightIcon">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                </div>
              </div>
              <div class="cardBody">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="whiteWrapper">
  <div class="container">
    <div class="row topic">
      <div class="col-sm-12">
        <div class="section">SECTION: 1</div>
      </div>
      <div class="col-sm-6">
        <div class="generalTopic"><h2>General Topic</h2></div>
      </div>
      <div class="col-sm-6 text-right">
          <span class="showlessBtn"><i class="fa fa-long-arrow-up" aria-hidden="true"></i>Show Less</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 dash"></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
         <p class="readings">Readings:</p>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="cardCheckIcon active"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span></div>
              <div class="cardheading">
                <div class="leftTitle">
                  Heading
                </div>
                <div class="rightIcon">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                </div>
              </div>
              <div class="cardBody">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="cardCheckIcon active"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span></div>
              <div class="cardheading">
                <div class="leftTitle">
                  Heading
                </div>
                <div class="rightIcon">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                </div>
              </div>
              <div class="cardBody">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
         <p class="readings">QUESTIONS:</p>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="cardCheckIcon active"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span></div>
              <div class="cardheading">
                <div class="leftTitle">
                  Heading
                </div>
                <div class="rightIcon">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                </div>
              </div>
              <div class="cardBody">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="cardCheckIcon "><span><i class="fa fa-check-circle" aria-hidden="true"></i></span></div>
              <div class="cardheading">
                <div class="leftTitle">
                  Heading
                </div>
                <div class="rightIcon">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                </div>
              </div>
              <div class="cardBody">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="text-center">Footer</div>
</div>
